.container{
    max-width: 400px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: radial-gradient(84.4% 84.4% at 50% 15.6%, rgba(7, 218, 131, 0.11) 0%, rgba(215, 255, 239, 0.19) 100%);*/
    background-image: url("/public/Quiz-result_bg.png");
    object-fit: cover;
    background-repeat: no-repeat;
    /*background-size: max(400px, 100%);*/
    background-size: contain;
    position: relative;
    margin: 0 auto;
    /*border: 1px solid orange;*/
}

.result_back__button{
    position: absolute;
    top: 1rem;
    left: 1rem;
}


.result_score{
    margin-top: 8rem;
    margin-bottom: 3rem;
    position: relative;
    width: 200px;
    height: 200px;
    max-height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.result_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #F5F6FA;
    z-index: 5;
    border-radius: 24px;
    padding: 1px;
    position: relative; /* Ensures the pseudo-element is scoped to this div */
}

.result_profile::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* This might be affecting the overflow */
    border-radius: inherit;
    background: linear-gradient(146.01deg, #07DA83 14.46%, #D7FFEF 84.76%);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}


.result_user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.result_user_info h3{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #181D25;
}
.result_user_info p{
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    color: #606E80;
    display: block;
}

.green_rect{
    position: absolute;
    top: 3rem;
    z-index: 0;
    left: 0.4rem;
}
.white_rect{
    position: absolute;
    top: 3rem;
    left: 17px;
    z-index: 1;
    /*opacity: 1;*/
    background: transparent ;
    border-radius: 18px;

}
.green_group{
    position: absolute;
    top: 2.7rem;
    z-index: 2;
}

.result_text{
    text-align: center;
}

.result_text h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    color: #181D25;
}
.result_text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #606E80;
}

.result_text a{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.01rem;
    text-align: center;
    color: #07DA83;
}
.result_text a:hover{
    text-underline: #07DA83;
}

.result_button{
    position: absolute;
    bottom: 1rem;
    width: 96%;
    border: 0px solid black;
    height: 50px;
    border-radius: 12px;
    padding: 6px 12px;
    gap: 10px;
    background-color: #07DA83;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01rem;

}