.container{
    background-color: #F5F6FA;
    width: 355px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 0 solid beige ;
    border-radius: 24px;
    align-items: center;
    gap: 16px;
}
.info_title{
    display: block;
    margin: 0;
    padding: 0;
}

.image{
    width: 120px;
    height: 110px;
    border-radius: 12px;
    /*background-color: #E1E5EA;*/
}

.info_block{
    width: 195px;
    max-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*gap: 6px;*/
    /*border: 1px solid red;*/
    overflow: hidden;
}

.info_block p,h3,h2{
    margin: 0;
    padding: 0;
    margin-block: 0;

}
.info_block h2{
    font-size: 14px;
    color: #181D25;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Inter, sans-serif;
    line-height: 140%;
    white-space: normal;
    display: flex;
    margin: 0;
    padding: 0;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    overflow: hidden;
    flex-shrink: 0;
    vertical-align: middle;


}
.info_block p{
    font-weight: 400;
    color: #606E80;
    width: 175px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-break: break-word;
    flex-grow: 1;

}
.info_block h3{
    margin: 0;
    display: flex;
    gap: 4px;
    color: #07DA83;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    align-self: flex-start;
    flex-shrink: 0;
}