.container{
    max-width: 200px;
    display: flex;
    /*position: relative;*/
}
.images{
    width: 200px;
    position: relative;
}
.fimg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    background-color: #a1ffd1;
    object-fit: cover;
    border-radius: 180px;
}

.simg img{
    max-width: 50px;
    max-height: 50px;
    border: 0 solid black;
    border-radius: 50%;
}

.simg{
    position: absolute;
    top: 0;
    left: 2rem;
    border: 0 solid black;
    border-radius: 50%;
}