.layout {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    position: relative;
    height: 100dvh;
}

.content {
    overflow: visible;
    position: relative;
    padding-bottom: 2rem;
    padding-top: var(--tg-content-safe-area-inset-top, 10px);
}
