.layout {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    position: relative;
}

.content {
    overflow: visible;
    min-height: 100vh;
    position: relative;
}
