.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
}

.header{
}

.questions{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}